@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');

body{
  margin: 0;
  background: @bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Poppins', sans-serif;
}

*{
  box-sizing: border-box;
}

button, input, select, textarea {
  font-family: 'Poppins', sans-serif;
}

button{
  cursor: pointer;
}

.primary-button{
  background: @pink;
  border: 0;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 36px;
}

.secondary-button{
  background: none;
  border: 1px solid @dark-grey;
  border-radius: 8px;
  color: @dark-grey;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 36px;
}

@media @tablets {
  body{
    background: white;
  }
}